#thumbnail-grid
  max-width 550px
  max-height 100%
  overflow auto
  background-color rgba(255,255,255,.5)

  li
    display inline-block
    margin 10px
    img
      display block
    label
      display block
      background-color #1694d5
      text-align right
      font-size 12px
      padding 8px
      color white
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px

section.work
  background-image url(images/bg/mountain_smaller.jpg)
  background-size cover
  background-repeat no-repeat
