h1 Go change the world | <span class="emphasis">think about that</span>
.description
  span <span class="emphasis">The Oracle Film Group</span> is dedicated to being the premier entertainment group specializing in TV, Feature Film and Commercial productions.
  br
  br
  span The Oracle Film Group strives to be socially conscious and perseverant, yet flexible, in its approach to achieve its goals. The philosophy at The Oracle Film Group is simple: “Excellence is not found in the size of your checkbook but in the <span class="emphasis">strength of your work</span>. Our company represents a fusion of art, technology and business striving towards the success of each productions unique needs.”
  br
  br
  span Our team encompasses an enclectic and elite group of people who embody <span class="emphasis">the finest</span> of the entertainment industry with credits that include major award-winning TV and Feature Film productions.

img(src="/images/bg/jimmy_alpha.png")
