h1 Go change the world | think about that
.description
  span The Oracle Film Group is dedicated to being the premier entertainment group specializing in TV, Feature Film and Commercial productions.
  span The Oracle Film Group strives to be socially conscious and perseverant, yet flexible, in its approach to achieve its goals. The philosophy at The Oracle Film Group is simple: “Excellence is not found in the size of your checkbook but in the strength of your work. Our company represents a fusion of art, technology and business striving towards the success of each productions unique needs.”
