ul#locations
  li
    .location
      span.emphasis NEW&nbsp;
      span YORK
    .phone 212.371.6269
  li
    .location
      span.emphasis LOS&nbsp;
      span ANGELES
    .phone 310.694.3819
  li.email info@oraclefilm.com

ul#people
  li.office
    span.emphasis OFFICE
  li
    .name
      span.emphasis ARI&nbsp;
      span NOVAK
    .phone 212.371.6269 ext. 414
    .email novak@oraclefilm.com
  li
    .name
      span.emphasis NICK&nbsp;
      span CAMPAGNA
    .phone 310.694.3819 ext. 515
    .email nick@oraclefilm.com
  li
    .name
      span.emphasis JOE&nbsp;
      span SANDOVAL
    .phone 212.371.6269 ext. 401
    .email joe@oraclefilm.com
