ul#locations
  li
    .location NEW YORK
    .phone 212.371.6269
  li
    .location LOS ANGELES
    .phone 310.694.3819
  li.email info@oraclefilm.com

ul#people
  li.label OFFICE
  li
    .name ARI NOVAK
    .phone 212.371.6269 ext. 414
    .email novak@oraclefilm.com
  li
    .name NICK CAMPAGNA
    .phone 310.694.3819 ext. 515
    .email nick@oraclefilm.com
  li
    .name JOE SANDOVAL
    .phone 212.371.6269 ext. 401
    .email joe@oraclefilm.com
