header#navbar.navbar-fixed-top
  h1 Oracle Film Group
  .grid
    nav.grid-cell
      a#work Work
      a#about About
      a#contact Contact
    .social-links.grid-cell
      a.facebook(alt="Facebook link")
      a.twitter(alt="Twitter link")
      a.vimeo(alt="Vimeo link")
