header#navbar.navbar-fixed-top
  img(src="/images/header.png")
  .grid
    nav.grid-cell
      a(href="#work") Work
      a(href="#about") About
      a(href="#contact") Contact
    .social-links.grid-cell
      a.facebook(alt="Facebook link")
      a.twitter(alt="Twitter link")
      a.vimeo(alt="Vimeo link")
