extends layout

block content
  include partials/header
  section.work
    ul#thumbnail-grid
    li#thumbnail.template
      img
      label
        span.boldTitle
        span.title
  section
  section
  footer
