extends layout

block content
  include partials/header
  section.work#work
    ul#thumbnail-grid
    li#thumbnail.template
      img
      label
        span.boldTitle
        span.title
  section.about#about
    include partials/about
  section#contact
    include partials/contact
  footer
    include partials/footer
