doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    != css('ofg')
    != js('ofg')
  body(data-spy="scroll", data-target="#navbar")
    .container
      block content
