div#videoProfileTemplate.template
  .metadata
    h1.title Example Title

    .description Lorem ipsum dolor sit amet consectetuer adipiscing elit cras et sem at odio portitor etc etc etc etc

    h1.credits CREDITS:
    ul.credits-info
      li Joe Sandoval
      li Ari Novak
      li Mike Barnett
    .client
      h1 CLIENT:
      span MGM Grand
    .url
      h1 URL:
      a http://oraclefilm.com

  video
  img.forward-arrow(src="/images/content_arrow_fwd.png")
