section.about
  position relative
  background-image url(images/bg/ledzep_nojimmy_smaller.jpg)
  background-size cover
  background-repeat no-repeat

  color white
  font-weight 100
  h1
    font-weight 100
    font-size 34px
  .description
    width 540px
    letter-spacing 1px
    word-spacing -2px
  img
    display none
    position absolute
    top 235px
    left 630px
    width 20%
    height auto
    
